<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/457c50ad-2cb0-4bed-9fea-fbdf6eed15bf/resourceGroups/RG-Linda-Amnell-3de3bf-DotNetCloudDeveloper-VT-Mars-Goteborg/providers/Microsoft.Web/sites/mini-gram</ResourceId>
    <ResourceGroup>RG-Linda-Amnell-3de3bf-DotNetCloudDeveloper-VT-Mars-Goteborg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mini-gram-d2akbpcyb7g5eqdy.swedencentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>da3dbd52-335b-49b4-8891-7e1a511fcb6b</ProjectGuid>
    <PublishUrl>https://mini-gram-d2akbpcyb7g5eqdy.scm.swedencentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>